[submodule "binding/unity/VoiceProcessor"]
    path = binding/unity/VoiceProcessor
    url = ../../tue-robotics/unity-voice-processor.git
    branch = master
[submodule "demo/c/dr_libs"]
    path = demo/c/dr_libs
    url = ../../tue-robotics/dr_libs.git
    branch = master
[submodule "demo/c/pvrecorder"]
    path = demo/c/pvrecorder
    url = ../../tue-robotics/pvrecorder.git
    branch = master
